body { 
    background: lightblue;
  }
  
  #display {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: black;
    text-align: center;
    background: lightblue;
  }
  
  button {
    width: 50px;
    height: 50px;
    text-align: center;
  }